body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../File/image2.webp);
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    flex-direction: column;
    
}


.barraNav{
    display: flex;
    justify-content:center;
    /*width: 100%;*/
    align-items: center;
    background-color: #faaccf73;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo-container{
    display: inline-flex;
}

.logo-container img {
    height: 80px;
}

.cart-button {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 25px; /* Arredondamento maior para aparência moderna */
    margin-right: 15px;
    
}

.cart-button button{
    background-color: #faaccf; /* Azul */
    color: black;
    border: none;
    border-radius: 25px; /* Arredondamento maior para aparência moderna */
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Para posicionar o contador */
}

.cart-button:hover {
    background-color: #faacca; /* Azul mais escuro */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.cart-icon {
    margin-right: 10px;
    font-size: 20px;
}

.cart-count {
    background-color: #ff6347; /* Tomate */
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px; /* Largura mínima para garantir círculo */
    height: 20px;
    transition: transform 0.3s ease; /* Animação suave */
}

.cart-button:hover .cart-count {
    transform: scale(1.1); /* Aumenta o tamanho do contador ao passar o mouse */
}



.head{
    flex: 2;
    align-items: center;
    justify-content: center;
}


.head ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.head ul li {
    display: inline;
}

.head ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.head ul li a:hover {
    text-decoration: none;
    background-color: #faaccf79;
    border-radius: 5px;
}


main{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloco1{
    display: flex;
    margin-top: 20px;
    gap: 15px;
    background-color: #faaccf4f;
    width: 90%;
    padding: 20px;
    flex: 1;
}


.img{
    flex-direction: column;
    display: inline-flex;
    align-items: flex-start; /* Alinhar o conteúdo ao início */
    justify-content: flex-start; /* Justificar o conteúdo ao início */
    font-family: 'Times New Roman', Times, serif;
}

.img img{
    display: block; /* Remove o espaço em branco abaixo da imagem */
    height: 100%;
    width: 100%;
}

.descri{
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.bloco2{
    text-align: center;
    width: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    grid-template-rows: repeat(1, 0.2fr);
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-auto-rows: 10px;
    grid-auto-flow: column;
    flex: 2;
    margin-bottom: 20px;
    background-color: #faaccf4f;

}

.bloco2 div{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 80%;
    width: 100%;
    
}

.bloco2 div button{
    border: none;
    background-color: #faaccf;
    border-radius: 25px; /* Arredondamento maior para aparência moderna */
    padding: 5px 15px;
    margin: 20px;
}

.bloco2 div button:hover{
    background-color: #b15e7e; /* Azul mais escuro */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 25px; /* Arredondamento maior para aparência moderna */
    padding: 5px 15px;
}

.item{
    margin-bottom: 10px;
    background-color: #faaccf5f;
}

.item img{
    height: 100%;
    width: 100%;
}

.item h3{
    margin-left: 10px;
}

.rodape {
    display: inline-flex;
    background-color: #faaccf73;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    color: black;
    padding: 1em;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.contato{
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.social{
    width: 100%;
    align-self: center; /* Centraliza horizontalmente */
    text-align: right;
    margin-right: 20px;
}

.icone{
    width: 50px; /* Tamanho do ícone */
    height: 50px; /* Tamanho do ícone */
}